<head>
    <title>Wiki</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <script src="/js/main.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
