<!DOCTYPE html>
    {{> head}}
    <body>
    <div class="well border" id="username-setting" style="text-align:center;">
      <h2>Username</h2>
      <div class="input-group space-10">
        <input type="text" class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">availability</button>
        </span>
      </div>
      <button type="button" class="btn btn-block btn-primary">Set</button>
    </div>
    </body>
</html>
