<!DOCTYPE html>
    {{> head}}
    <body>
        {{> nav_bar}}
        <div class="container-fluid">
            <div class="well bs-component">
                <div class="btn-group" style="margin-bottom:8px;">
                    <button id="edit-mode-btn" type="button" class="btn btn-default active">Edit</button>
                    <button id="preview-mode-btn" type="button" class="btn btn-default">Preview</button>
                </div>

                <!------- Edit Mode -------------->
                <form id="edit-form" method="post" style="height:570px">
                    <div class="form-group">
                      <input class="form-control" type="text" name="title" value="{{page.title}}" style="height:40px">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="textArea" name="body" style="height:500px" >{{page.body}}</textarea>
                    </div>
                </form>

                <!------- Preview Mode -------------->
                <div id="preview-mode" style="display:none;height:570px">
                    <h1 id="edited-title">{{{page.title}}}</h1>
                    <div id="edited-body">{{#marked}}{{page.body}}{{/marked}}</div>
                </div>
                <div class="bs-component">
                  <button type="submit" form="edit-form" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </body>
    <script>
        $(document).ready(function() {
            $('#preview-mode-btn').click(function(event) {
                $('#preview-mode-btn').addClass('active');
                $('#edit-mode-btn').removeClass('active');
                $('#edited-title').html(getEditedTitle());
                getEditedBody(function(text){
                    $('#edited-body').html(text);
                });
                $('#edit-form').hide();
                $('#preview-mode').show();
            });

            $('#edit-mode-btn').click(function(event) {
                $('#preview-mode-btn').removeClass('active');
                $('#edit-mode').addClass('active');
                $('#edit-form').show();
                $('#preview-mode').hide();

            });

            getEditedTitle = function() {
                return $('input').val();
            }

            getEditedBody = function(cb) {
                var text = $('textarea').val();
                $.ajax({
                    data: {text: text},
                    url: '/markdown_preview',
                    type: 'POST'
                }).done(function(text) {
                    cb(text);
                }).fail(function(error) {
                    console.log(error);
                });
            }
        });
    </script>
</html>
