<!DOCTYPE html>
    {{> head}}
    <body>
        {{> nav_bar}}
        <div class="container-fluid">
            <div class="well bs-component">
                <div class="btn-group" style="margin-bottom:8px;">
                    <button id="edit-mode" type="button" class="btn btn-default active">Edit</button>
                    <button id="preview-mode" type="button" class="btn btn-default">Preview</button>
                </div>
                <form name="save-page" method="post">
                    <div class="form-group">
                      <input class="form-control" type="text" name="title" value="{{page.title}}">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="20" id="textArea" name="body">{{page.body}}</textarea>
                    </div>
                    <div class="bs-component">
                      <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
    <script>
        $(document).ready(function() {
            $('#preview-mode').click(function(event) {
                $('#preview-mode').addClass('active');
                $('#edit-mode').removeClass('active');
            });

            $('#edit-mode').click(function(event) {
                $('#preview-mode').removeClass('active');
                $('#edit-mode').addClass('active');
            });
        });
    </script>
</html>
