<!DOCTYPE html>
    {{> head}}
    <body>
        {{> nav_bar}}
        <div class="container">
            <div class="page-header">
                <h1>Pages</h1>
            </div>
            {{#each pages}}
             <div>
                <a href="">{{title}}</a>
             </div>
            {{/each}}
        </div>
    </body>
</html>
