<div id="action-buttons" class="row">
    <div class="col-lg-12">
        <p class="bs-component pull-right">
            <a href="/page/edit/{{page._id}}" class="btn btn-default">Edit</a>
            <button page-id="{{page._id}}" class="btn btn-danger js-delete-page">Delete</button>
            <a href="/page/add/{{page._id}}" class="btn btn-success">Add Page</a>
        </p>
    </div>
</div>
